body {
   background-color: rgba(174, 249, 174, 0.186);
}
.block1{
   background-color: darkslategray;
   color: white;
   height: 80px;
   width: 500px;
   margin: 10px;
   border: dotted
}
#id1{
   font-family: 'Roboto', sans-serif;
   font-family: 'Water Brush', cursive;
   font-size: 36px;
   background-color: rgb(47, 79, 55);
   color: white;
   height: 50px;
   width: 500px;
   margin: 10px;
   border: dashed;
}
a {
   color: green;
   text-transform: uppercase;
}
img{
   width: 200px;
}
button {
   background-color: darkgreen;
   border: 3px solid black
   }
button:hover {
   background-color: rgba(169, 213, 169, 0.666);
}