.block2 {
   background-color: chartreuse;
   padding: 40px;
   outline: 3px solid white;
   outline-offset: -20px;
}

/*.block2 {
   background-color: chartreuse;
   padding: 40px;
   border: 10px solid rgb(0, 0, 0)
}*/